name: Abacus build routine
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Testing Abacus"
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - name: Run tests
        run: go test -v -covermode=atomic -race ./...
  build-and-release:
    runs-on: ubuntu-latest
    needs: [ test ]
    if: github.ref == 'refs/heads/main'
    steps:
      - run: echo "Building Abacus"
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - name: Build step
        run: |
          GOOS=windows GOARCH=amd64 go build -o abacus-windows-amd64.exe
          GOOS=linux   GOARCH=amd64 go build -o abacus-linux-amd64
          GOOS=darwin  GOARCH=amd64 go build -o abacus-macos-amd64
      - name: Set version tag
        run: echo "VERSION_TAG=$(./abacus-linux-amd64 --version)" >> $GITHUB_ENV
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "abacus-*"
          commit: main
          tag: ${{ env.VERSION_TAG }}
          name: abacus ${{ env.VERSION_TAG }}
          token: ${{ secrets.GITHUB_TOKEN }}
